{{partial 'head'}}
{{#if showLogin}}
{{/if}}
<div class="container-fluid" style="">
   <script>
      $(document).ready(function() {
          // Show or hide the sticky footer button
          $(window).scroll(function() {
              if ($(this).scrollTop() > 200) {
                  $('.go-top').fadeIn(200);
              } else {
                  $('.go-top').fadeOut(200);
              }
          });
          // Animate the scroll to top
          $('.go-top').click(function(event) {
              event.preventDefault();
              $('html, body').animate({
                  scrollTop: 0
              }, 300);
          });
         
      });
   </script>
   <br>
   <br>
    <div class="container-fluid">
    <img src="assets/images/payment.png" alt="Mountain View" width="800" height="700">
    <br>
 <br>
         <button type="button" class="btn btn-primary btn-block"  {{action "next"  }}> agree & Pay</button>   
    
       </div>
       </div>