{{partial 'head'}}
{{#if showRequest}}
{{/if}}

<div class="container-fluid">
   <br>
   <h4 style="text-align:center;">Upload Document</h4>

   <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-7">
         <b><em>Please Fill Your Documents Details?</em></b>
      </div>
      <div class="col-md-4">
         <button type="button" class="btn btn-default btn-number qtyplus" data-type="plus" field='quantity'
            {{action "home"}}>
            <span class="glyphicon glyphicon-home"></span> Go Back To Main Menu</button>
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
         <label>W-9 Form* </label>
      </div>
      <div class="col-md-3">
         {{#if Notshow_fileupload}}
         <div id="NR-reactangle">
            {{#pl-uploader for="upload_file" runtimes="html5 flash silverlight" multiple=false onfileadd="uploadDoc" as
            |queue|}}
            <a id="upload_file" style="font-size:18px">
               <p style="margin-top:3mm"> <img src="assets/images/upload.svg" alt="Smiley face" width="20" height="20"
                     style="margin-bottom:3mm">&nbsp; Choose File to Upload</p>
            </a>
            {{/pl-uploader}}
         </div>
         {{/if}}
         {{#if isShow_fileupload}}
         <div id="NR-reactangle-ok">
            <p style="color:#68DC83,margin-top:3mm"><b> File Uploaded Sucessfully !!!</b></p>
         </div>
         {{/if}}
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
         <label> Federally Required Disclosures* </label>
      </div>
      <div class="col-md-4">
         {{#if Notshow_fileupload}}
         <div id="NR-reactangle">
            {{#pl-uploader for="upload_file" runtimes="html5 flash silverlight" multiple=true onfileadd="uploadDoc" as
            |queue|}}
            <a id="upload_file" style="font-size:18px">
               <p style="margin-top:3mm"> <img src="assets/images/upload.svg" alt="Smiley face" width="20" height="20"
                     style="margin-bottom:3mm">&nbsp; Choose File to Upload</p>
            </a>
            {{/pl-uploader}}
         </div>
         {{/if}}
         {{#if isShow_fileupload}}
         <div id="NR-reactangle-ok">
            <p style="color:#68DC83,margin-top:3mm"><b>File Uploaded Sucessfully !!! </b></p>
         </div>
         {{/if}}
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
         <label> General Liability Insurance* </label>
      </div>
      <div class="col-md-4">
         {{#if Notshow_fileupload}}
         <div id="NR-reactangle">
            {{#pl-uploader for="upload_file" runtimes="html5 flash silverlight" multiple=true onfileadd="uploadDoc" as
            |queue|}}
            <a id="upload_file" style="font-size:18px">
               <p style="margin-top:3mm"> <img src="assets/images/upload.svg" alt="Smiley face" width="20" height="20"
                     style="margin-bottom:3mm">&nbsp; Choose File to Upload</p>
            </a>
            {{/pl-uploader}}
         </div>
         {{/if}}
         {{#if isShow_fileupload}}
         <div id="NR-reactangle-ok">
            <p style="color:#68DC83,margin-top:3mm"><b>File Uploaded Sucessfully 1111!!!</b></p>
         </div>
         {{/if}}
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
         <label>Past 5years Work History* </label>
      </div>
      <div class="col-md-4">
         {{#if Notshow_fileupload}}
         <div id="NR-reactangle">
            {{#pl-uploader for="upload_file" runtimes="html5 flash silverlight" multiple="true" onfileadd="uploadDoc"
            as |queue|}}
            <a id="upload_file" style="font-size:18px">
               <p style="margin-top:3mm"> <img src="assets/images/upload.svg" alt="Smiley face" width="20" height="20"
                     style="margin-bottom:3mm">&nbsp; Choose File To Upload</p>
            </a>
            {{/pl-uploader}}
         </div>
         {{/if}}
         {{#if isShow_fileupload}}
         <div id="NR-reactangle-ok">
            <p style="color:#68DC83,margin-top:3mm"><b>File Uploaded Sucessfully 1111!!!</b></p>
         </div>
         {{/if}}
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
         <label> Ancillary Provider Application* </label>
      </div>
      <div class="col-md-4">
         {{#if Notshow_fileupload}}
         <div id="NR-reactangle">
            {{#pl-uploader for="upload_file" runtimes="html5 flash silverlight" multiple="true" onfileadd="uploadDoc"
            as |queue|}}
            <a id="upload_file" style="font-size:18px">
               <p style="margin-top:3mm"> <img src="assets/images/upload.svg" alt="Smiley face" width="20" height="20"
                     style="margin-bottom:3mm">&nbsp; Choose File to Upload</p>
            </a>
            {{/pl-uploader}}
         </div>
         {{/if}}
         {{#if isShow_fileupload}}
         <div id="NR-reactangle-ok">
            <p style="color:#68DC83,margin-top:3mm"><b>File Uploaded Sucessfully 1111!!!</b></p>
         </div>
         {{/if}}
      </div>
   </div>
   <br>
   {{#paper-button raised=true warn=true onClick=(action "targetButton")}}Submit{{/paper-button}}
</div>